<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crazy Calvin’s Kangaroo Rides | Admin Page</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Including jquery before angular to avoid AngularJS attaching to jqLite. This is required for datepicker to work-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>

    <link rel="stylesheet" href="/styles/css/metro-bootstrap.min.css">


    <!-- Bootstrap core CSS -->
    <!-- Bootstrap theme -->
    <link href="/styles/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/styles/css/kangarooRideApp.css" rel="stylesheet">

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body ng-app="kangarooRideApp">
    <!-- container -->
    <div class="container" role="main" ng-controller="adminCtrl">


        <div class="page-header text-center">
            <h1 class="hidden-xs">Crazy Calvin’s Kangaroo Rides (Admin)<br>
                        <h3 id="subHeading" class="hidden-xs">Hurl-a-Whirl !!!</h3>
            </h1>
            <h3 class="visible-xs-block">Crazy Calvin’s Kangaroo Rides (Admin)<br>
                        <h4 id="subHeading" class="visible-xs-block">Hurl-a-Whirl !!!</h4>
            </h3>
        </div>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#reservations" aria-controls="reservations" role="tab" data-toggle="tab" ng-click="populateReservationsTable()"><h2> <i class="glyphicon glyphicon-calendar"></i> Reservations</h2></a></li>
                <li role="presentation"><a href="#rides" aria-controls="rides" role="tab" data-toggle="tab"><h2> <i class="glyphicon glyphicon-edit"></i> Manage Rides</h2></a></li>
                <li role="presentation" ng-hide="true"><a href="#viewReservation" aria-controls="viewReservation" role="tab" data-toggle="tab"><h2>View Reservation</h2></a></li>
                <li role="presentation" ng-hide="true"><a href="#editReservation" aria-controls="editReservation" role="tab" data-toggle="tab"><h2>Edit Reservation</h2></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <!-- Existing Reservations Begin -->
                <div role="tabpanel" class="tab-pane active" id="reservations">

                    <table id="reservationsTable" st-table="displayedReservationsCollection" st-safe-src="reservations" class="table table-responsive ">
                        <thead>
                            <tr>
                                <!-- <th st-sort="JobID">JobID</th> -->
                                <th st-sort="ConfirmationCode" style="white-space: nowrap">
                                    <a tooltip="Click to sort by ConfirmationCode">Confirmation Code</a>
                                </th>

                                <th st-sort="Email">
                                    <a tooltip="Click to sort by Email">Email</a>
                                </th>

                                <th st-sort="PhoneNumber" align="center">
                                    <a tooltip="Click to sort by PhoneNumber">Phone No.</a>
                                </th>

                                <th st-sort="RideTypeSelected" align="center">
                                    <a tooltip="Click to sort by RideTypeSelected">Ride Type</a>
                                </th>

                                <th st-sort="RideDateSelected" align="center">
                                    <a tooltip="Click to sort by RideDateSelected">Ride Date</a>
                                </th>

                                <th st-sort="RideTimeSelected" align="center">
                                    <a tooltip="Click to sort by RideTimeSelected">Ride Time</a>
                                </th>

<!--                                 <th st-sort="SpecialNeeds" align="center">
                                    <a tooltip="Click to sort by SpecialNeeds">Special Needs</a>
                                </th>
 -->
                                <th> </th>

                            </tr>
                            <tr>
                                <th colspan="8">
                                    <div class="input-group col-xs-12">
                                        <span class="input-group-addon" id="basic-addon1"> 
                                                <i class="fa fa-1x fa-search"></i>  
                                            </span>
                                        <input st-search="" class="form-control" placeholder="Search by anything (Email, First or Last Name, Phone Number...)" type="text" aria-describedby="basic-addon1" />

                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="row in displayedReservationsCollection">
                                <td><small>{{row.ConfirmationCode}}<small></td>

                                <td><small>{{row.Email}}<small></td>

                                <td><small>{{row.PhoneNumber}}<small></td>

                                <td><small>{{row.RideTypeSelected}}<small></td>

                                <!-- <td><small>{{ parseIsoDatetime(row.RideDateSelected)}}<small></td> -->
                                <td><small>{{(row.RideDateSelected)}}<small></td>

                                <td><small>{{row.RideTimeSelected}}<small></td>

<!--                                 <td>
                                    <small>{{row.SpecialNeeds.substring(0, 20)}}</small>
                                    <a><small ng-show="showPopupFlag(row.SpecialNeeds,40)" popover="{{row.SpecialNeeds}}" popover-trigger="click"> ...<i class="fa fa-1x fa-eye"></i></small></a>
                                </td>
 -->
                                <!-- <td>
                                    <small>{{ parseIsoDatetime(row.UpdatedTimeStamp) }}</small>
                                </td>
 -->
                                <td>

                                    <button type="button" ng-click="viewReservation(row)" class="btn btn-success btn-xs" id="viewReservationBtn" tooltip="View Reservation">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    </button>

                                    <button type="button" ng-click="editReservation(row)" class="btn btn-primary btn-xs" id="editReservationBtn" tooltip="Edit Reservation">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" ng-click="deleteReservation(row)" class="btn btn-danger btn-xs" id="deleteReservationBtn" tooltip="Delete Reservation">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>

                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-center">
                                    <div st-pagination="" st-items-by-page="8" st-displayed-pages="15"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- Existing Reservations End -->

                <!-- Edit Rides or Slots per Ride Tab Begins-->
                <div role="tabpanel" class="tab-pane" id="rides">
                    <br>

                    <!-- Available Rides Table -->
                    <div class="col-lg-offset-1 col-lg-4">
                        <table id="ridesTable" st-table="displayedRidesCollection" st-safe-src="AvailableRides" class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>
                                        <b>Available Ride Types</b>
                                    </th>
                                    <th>
                                        <div class="pull-right">
                                            <button type="button" align="right" ng-click="showAddRideForm = !showAddRideForm" class="btn btn-xs btn-info" tooltip="Add Ride">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-show="showAddRideForm">
                                    <td colspan=2 class="text-center">
                                        <form class="form-inline" name="addRideForm" ng-submit="addNewRide()">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="newRide" id="newRide" placeholder="Ride Name" ng-model="newRide.rideName" required title="Enter a valid Ride">
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-primary">Add Ride</button>
                                            <button type="button" class="btn btn-sm btn-danger" ng-click="showAddRideForm = false" tooltip="Cancel"><i class="fa fa-remove"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                <tr ng-repeat="row in displayedRidesCollection">
                                    <td colspan=2 class="text-center">{{row}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Rides Allowed Per Slot -->
                    <div class="col-lg-offset-1 col-lg-6 col-sm-offset-3 col-sm-6  col-md-offset-3 col-md-6  col-xs-offset-1 center ">
                        <div class="col-lg-offset-2">
                            <!-- <a href="#adHocTab" data-toggle="tab" class="fa-links" id="adHocTile"> -->
                            <div class="thumbnail tile tile-wide tile-green" ng-click="showChangeSlotsForm = !showChangeSlotsForm" tooltip="Click to Change">
                                <h3 class="tile-text"> Rides Allowed Per Slot</h3>
                                <br>
                                <br>
                                <h2> {{ridesPerSlot}} </h2>

                            </div>
                            <br>
                            <div ng-show="showChangeSlotsForm">
                                <form class="form-inline" name="ChangeSlotsForm" ng-submit="changeRidesPerSlot()">
                                    <div class="form-group">
                                        <input type="number" class="form-control" name="newRidesPerSlot" id="newRidesPerSlot" placeholder={{ridesPerSlot}} ng-model="newRidesPerSlot.newRidesPerSlotValue" required title="Enter a valid number" min="1">

                                        <button type="submit" class="btn btn-sm btn-primary">Change</button>
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="showChangeSlotsForm = false" tooltip="Cancel"><i class="fa fa-remove"></i></button>
                                    </div>
                                </form>
                            </div>

                            <!-- </a> -->
                        </div>
                    </div>

                </div>
                <!-- Edit Rides or Slots per Ride Tab Ends-->

                <!-- View Reservation-->
                <div role="tabpanel" class="tab-pane" id="viewReservation">

                    <br>
                    <h2 class="text-center"> Reservation Details </h2>

                    <div class="col-lg-offset-1 col-sm-10 col-lg-10">
                        <table class="table table-responsive" id="reservationDetailsTableId">
                            <tbody>
                                <tr>
                                    <th>Confirmation Code</th>
                                    <td> {{currReservation.ConfirmationCode}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td> {{ currReservation.Email}} </td>
                                </tr>
                                <tr>
                                    <th>First Name</th>
                                    <td> {{ currReservation.FirstName}} </td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>{{currReservation.LastName}}</td>
                                </tr>
                                <tr>
                                    <th>Phone Number</th>
                                    <td>{{ currReservation.PhoneNumber}} </td>
                                </tr>
                                <tr>
                                    <th>Ride Type</th>
                                    <td>{{ currReservation.RideTypeSelected}} </td>
                                </tr>

                                <tr>
                                    <th>Ride Date</th>
                                    <td>{{currReservation.RideDateSelected}}</td>
                                </tr>
                                <tr>
                                    <th>Ride Time</th>
                                    <td>{{ currReservation.RideTimeSelected}} </td>
                                </tr>
                                <tr>
                                    <th>Special Needs</th>
                                    <td>{{ currReservation.SpecialNeeds}} </td>
                                </tr>
                                <tr>
                                    <th>Created Time </th>
                                    <td>{{ parseIsoDatetime(currReservation.CreatedTimeStamp) }} </td>
                                </tr>
                                <tr>
                                    <th>Last Updated Time </th>
                                    <td>{{ parseIsoDatetime(currReservation.UpdatedTimeStamp) }} </td>
                                </tr>
                                <tr align="right">
                                    <td colspan=2>
                                        <button type="button" class="btn btn-primary"  ng-click="editReservation(currReservation)" >Edit Reservation</button>

                                        <button id='activateExistingReservationsTab' type="button" ng-click="activateExistingReservationsTab()" class="btn btn-warning">
                                            <i class="fa fa-arrow-circle-left"> </i>  Go Back
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>




                </div>
                <!-- View Reservation-->

                <!-- Edit Reservation Tab Begins -->
                <div role="tabpanel" class="tab-pane" id="editReservation">

                    <br>
                    <h2 align="center"> Edit Reservation </h2>
                    <br>
                    <div ng-controller="reservationCtrl">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" ng-hide="true">
                            <li role="presentation" class="active"><a href="#newReservationTab" aria-controls="newReservationTab" role="tab" data-toggle="tab">New Reservation</a></li>
                            <li role="presentation"><a href="#statusTab" aria-controls="statusTab" role="tab" data-toggle="tab">Status</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="newReservationTab">

                                <form name="form" id="newReservationForm" class="form-horizontal col-md-offset-2 col-lg-offset-2 col-xs-offset-1 col-xs-10" ng-submit="bookOrUpdateReservation()">

                                    <div class="form-group">
                                        <label for="fname" class="col-sm-2 control-label hidden-xs">First Name</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name" ng-model="newBooking.firstName" required title="Enter a valid First Name">
                                            </div>
                                        </div>
                                        <span ng-show="!form.fname.$pristine && form.fname.$error.required" class="errorMsg">Required!</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="lname" class="col-sm-2 control-label hidden-xs">Last Name</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" ng-model="newBooking.lastName" required title="Enter a valid Last Name">
                                            </div>
                                        </div>
                                        <span ng-show="!form.lname.$pristine && form.lname.$error.required" class="errorMsg">Required!</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label hidden-xs">Email</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <div class="input-group">
                                                <div class="input-group-addon">@</div>
                                                <input type="email" class="form-control" name="emailInput" id="emailInputId" placeholder="john@domain.com" ng-model="newBooking.email" required title="Enter a valid Email">
                                            </div>
                                        </div>
                                        <span ng-show="!form.emailInput.$pristine && form.emailInput.$error.required" class="errorMsg">Required!</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label hidden-xs">Phone Number</label>
                                        <div class="col-sm-10 col-lg-6">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                                                <input type="text" class="form-control phone_us" name="phoneNumber" id="phoneNumber" placeholder="(555) 555-5555" ng-model="newBooking.phoneNumber" pattern=".{14,}" required title="(___) ___-____">
                                            </div>
                                        </div>
                                        <span ng-show="!form.phoneNumber.$pristine && form.phoneNumber.$error.required" class="errorMsg">Required!</span>
                                        <span ng-show="form.phoneNumber.$error.pattern" class="errorMsg">Incorrect Format, should be (___) ___-____</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label hidden-xs">Ride Type</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-pied-piper-alt"></i></div>
                                                <select name="repeatSelect" class="form-control" id="rideType" name="rideType" ng-model="newBooking.rideTypeSelected" required title="Select a type of Ride">
                                                    <option value="">---Please select---</option>
                                                    <!-- not selected / blank option -->
                                                    <option ng-repeat="option in rideTypeAvailable" value="{{option}}">{{option}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <span ng-show="!form.rideType.$pristine && form.rideType.$error.required" class="errorMsg">Required!</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="rideDate" class="col-sm-2 control-label hidden-xs">Ride Date</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                                                <input type="text" name="rideDate" class="form-control" id="rideDate" placeholder="Ride Date" ng-model="newBooking.rideDateSelected" jqdatepicker required title="Select a date for Ride" ng-change="populateAvailableRideSlots()" ng-pattern='/(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-(2\d{3})/' maxlength="10" ng-maxlength=10 ng-minlength=10>
                                            </div>
                                        </div>
                                        <span ng-show="!form.rideDate.$pristine && form.rideDate.$error.required" class="errorMsg">Date Required!</span>
                                        <span ng-show="form.rideDate.$error.pattern" class="errorMsg">Incorrect Format, should be MM-DD-YYYY</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="rideTimePicker" class="col-sm-2 control-label hidden-xs">Ride Time</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                                                <select class="form-control" name="repeatSelect" id="rideTime" name="rideTime" ng-model="newBooking.rideTimeSelected" required title="Select a type of Ride">
                                                    <option value="">---Please select---</option>
                                                    <option ng-repeat="slot in rideTimesAvailableDisplayList" value="{{slot}}">{{slot}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <span ng-show="!form.rideTime.$pristine && form.rideTime.$error.required" class="errorMsg">Required!</span>
                                        <span ng-show="form.rideTime.$error.pattern" class="errorMsg">Incorrect Format, should be HH:MM AA</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="splNeeds" class="col-sm-2 control-label hidden-xs">Special Needs</label>
                                        <div class="col-sm-10 col-lg-6 ">
                                            <textarea class="form-control" id="splNeeds" ng-model="newBooking.specialNeeds" rows="2" placeholder="Any special needs ?"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10 ">
                                            <!-- <button type="submit" class="btn btn-primary" ng-class="{ 'disabled' : (!form.$valid)}">Book Ride</button> -->
                                            <button type="submit" class="btn btn-primary">Update Reservation</button>
                                            <button type="button" class="btn btn-warning" ng-click="cancelEditAndGoBack()">Cancel & Go Back</button>
                                        </div>
                                    </div>

                                </form>


                            </div>

                            <div role="tabpanel" class="tab-pane" id="statusTab">

                                <div id="bookingStatusPlaceholderDiv"></div>

                                <div align="center">


                                    <button id='activateNewReservationTabBtn' type="button" ng-show="showFixErrorsButton" ng-click="fixBookingErrorsAndRebook()" class="btn btn-info">
                                        <i class="fa fa-magic"></i> Fix Errors and Update
                                    </button>

                                    <button id='activateExistingReservationsTabBtn' type="button" ng-click="activateExistingReservationsTab()" class="btn btn-warning">
                                         <i class="fa fa-arrow-circle-left"> </i>  Go Back
                                    </button>

                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- Edit Reservation Tab Ends-->

                </div>

            </div>

        </div>
        <!-- /container -->

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="/scripts/vendor/jquery.mask.min.js"></script>

        <script src="/scripts/vendor/bootstrap.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

        <script src="/scripts/vendor/smart-table.min.js"></script>
        <script src="/scripts/vendor/bootbox.min.js"></script>
        <script src="/scripts/vendor/moment.min.js"></script>

        <script src="/scripts/app.js"></script>
        <script src="/scripts/services/kangarooAngularService.js"></script>
        <script src="/scripts/controllers/reservationCtrl.js"></script>
        <script src="/scripts/controllers/adminCtrl.js"></script>
        <script>
            $('.phone_us').mask('(000) 000-0000');
            $('.rideDate').mask('mm-dd-yyyy');
        </script>

</body>

</html>