<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crazy Calvin’s Kangaroo Rides</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>

    <link rel="stylesheet" href="/styles/css/metro-bootstrap.min.css">

    <!-- Bootstrap core CSS -->
    <!-- Bootstrap theme -->
    <link href="/styles/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/styles/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="/styles/css/home.css" rel="stylesheet">

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body ng-app="kangarooRideApp">
    <div id="fullscreen_bg" class="fullscreen_bg" />

    <!-- container -->
    <div class="container" role="main" ng-controller="kangarooRideCtrl">

        <div id="homeTab" class="tab-pane fade in active">
            <div class="page-header text-center">
                <h1>Crazy Calvin’s Kangaroo Rides<br>
                        <h3 id="subHeading">Hurl-a-Whirl !!!</h3>
                    </h1>
            </div>
        </div>

        <form class="form-horizontal col-md-offset-2 col-lg-offset-2" ng-submit="scheduleJob()">

            <div class="form-group form-inline">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10 col-lg-6">
                    <input type="text" class="form-control" id="fname" placeholder="First" ng-model="newBooking.firstName" required>
                    <input type="text" class="form-control" id="lname" placeholder="Last" ng-model="newBooking.lastName" required>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="email" class="form-control" id="emailInputId" placeholder="john@domain.com" ng-model="newBooking.email" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Phone Number</label>
                <div class="col-sm-10 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                        <input type="text" class="form-control bfh-phone" value="5555555555" data-format="+1 (ddd) ddd-dddd" ng-model="newBooking.phoneNumber" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Ride Type</label>


                <div class="col-sm-10 col-lg-6 dropdown">
                    <select name="repeatSelect" id="rideType" ng-model="newBooking.rideTypeSelected" required>
                        <option value="">---Please select---</option>
                        <!-- not selected / blank option -->
                        <option ng-repeat="option in rideTypeAvailable" value="{{option.id}}">{{option.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="rideDate" class="col-sm-2 control-label">Ride Day</label>
                <div class="col-sm-10 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        <input type="date" class="form-control" id="rideDate" placeholder="Ride Date" ng-model="newBooking.rideDate" required>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="rideTimePicker" class="col-sm-2 control-label">Ride Time</label>
                <div class="col-sm-10">
                    <select name="repeatSelect" id="rideType" ng-model="newBooking.rideTimeSelected" required>
                        <option value="">---Please select---</option>
                        <!-- not selected / blank option -->
                        <option ng-repeat="slot in rideTimesAvailable" value="{{slot}}">{{slot}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="splNeeds" class="col-sm-2 control-label">Special Needs</label>
                <div class="col-sm-10 col-lg-6">
                    <textarea class="form-control" id="splNeeds" ng-model="newBooking.specialNeeds" rows="3" placeholder="Any special needs ?"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Book Ride</button>
                    <button type="button" class="btn btn-default" ng-click="schedReset()">Reset</button>
                </div>
            </div>

        </form>

        <!--         <pre> {{newBooking}} </pre> -->

    </div>
    <!-- /container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <script src="/scripts/vendor/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/vendor/bootstrap.min.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

    <script src="/scripts/vendor/bootstrap-formhelpers.js"></script>

    <script src="/scripts/vendor/smart-table.min.js"></script>
    <script src="/scripts/vendor/bootbox.min.js"></script>


    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/kangarooRideCtrl.js"></script>


</body>

</html>