<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crazy Calvin’s Kangaroo Rides</title>

    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <script src="/scripts/vendor/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/scripts/vendor/jquery.timepicker.min.js"></script>
    <script src="/scripts/vendor/jquery.mask.min.js"></script>
   
    



    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-animate.min.js"></script>

    <link rel="stylesheet" href="/styles/css/metro-bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/jquery.timepicker.css">


    <!-- Bootstrap core CSS -->
    <!-- Bootstrap theme -->
    <link href="/styles/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/styles/css/home.css" rel="stylesheet">

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body ng-app="kangarooRideApp">
    <div id="fullscreen_bg" class="fullscreen_bg" />

    <!-- container -->
    <div class="container" role="main" ng-controller="kangarooRideCtrl">

        <div id="homeTab" class="tab-pane fade in active">
            <div class="page-header text-center">
                <h1 class="hidden-xs">Crazy Calvin’s Kangaroo Rides<br>
                        <h3 id="subHeading" class="hidden-xs">Hurl-a-Whirl !!!</h3>
                </h1>
                <h3 class="visible-xs-block">Crazy Calvin’s Kangaroo Rides<br>
                        <h4 id="subHeading" class="visible-xs-block">Hurl-a-Whirl !!!</h3>
                </h1>
            </div>
        </div>

        <form name="form" class="form-horizontal col-md-offset-2 col-lg-offset-2 col-xs-offset-1 col-xs-10" ng-submit="bookReservation()">

            <div class="form-group">
                <label for="fname" class="col-sm-2 control-label hidden-xs">First Name</label>
                <div class="col-sm-10 col-lg-6 ">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name" ng-model="newBooking.firstName" required title="Enter a valid First Name">
                    </div>
                </div>
                <span ng-show="!form.fname.$pristine && form.fname.$error.required" class="errorMsg">Required!</span>
            </div>

            <div class="form-group">
                <label for="lname" class="col-sm-2 control-label hidden-xs">Last Name</label>
                <div class="col-sm-10 col-lg-6 ">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                        <input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name" ng-model="newBooking.lastName" required title="Enter a valid Last Name">
                    </div>
                </div>
                <span ng-show="!form.lname.$pristine && form.lname.$error.required" class="errorMsg">Required!</span>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label hidden-xs">Email</label>
                <div class="col-sm-10 col-lg-6 ">
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="email" class="form-control" name="emailInput" id="emailInputId" placeholder="john@domain.com" ng-model="newBooking.email" required title="Enter a valid Email">
                    </div>
                </div>
                <span ng-show="!form.emailInput.$pristine && form.emailInput.$error.required" class="errorMsg">Required!</span>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label hidden-xs">Phone Number</label>
                <div class="col-sm-10 col-lg-6">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                        <input type="text" class="form-control phone_us" name="phoneNumber" id="phoneNumber" placeholder="(555) 555-5555" ng-model="newBooking.phoneNumber" pattern=".{14,}" required title="(___) ___-____">
                    </div>
                </div>
                <span ng-show="!form.phoneNumber.$pristine && form.phoneNumber.$error.required" class="errorMsg">Required!</span>
                <span ng-show="form.phoneNumber.$error.pattern" class="errorMsg">Incorrect Format, should be (___) ___-____</span>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label hidden-xs">Ride Type</label>
                <div class="col-sm-10 col-lg-6 ">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-pied-piper-alt"></i></div>
                        <select name="repeatSelect" id="rideType" name="rideType" ng-model="newBooking.rideTypeSelected" required title="Select a type of Ride">
                            <option value="">---Please select---</option>
                            <!-- not selected / blank option -->
                            <option ng-repeat="option in rideTypeAvailable" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                <span ng-show="!form.rideType.$pristine && form.rideType.$error.required" class="errorMsg">Required!</span>
            </div>

            <div class="form-group">
                <label for="rideDate" class="col-sm-2 control-label hidden-xs">Ride Date</label>
                <div class="col-sm-10 col-lg-6 ">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></div>
                        <input type="text" name="rideDate" class="form-control" id="rideDate" placeholder="Ride Date" ng-model="newBooking.rideDateSelected" jqdatepicker required title="Select a date for Ride" ng-change="populateAvailableRideSlots()" ng-pattern='/(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])-(2\d{3})/' maxlength="10" ng-maxlength=10 ng-minlength=10>
                    </div>
                </div>
                <span ng-show="!form.rideDate.$pristine && form.rideDate.$error.required" class="errorMsg">Date Required!</span>
                <span ng-show="form.rideDate.$error.pattern" class="errorMsg">Incorrect Format, should be MM-DD-YYYY</span>
            </div>

            <div class="form-group">
                <label for="rideTimePicker" class="col-sm-2 control-label hidden-xs">Ride Time</label>
                <div class="col-sm-10 col-lg-6 ">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-time"></i></div>
                        <input type="text" class="form-control" name="rideTime" id="rideTimePicker" placeholder="Ride Time" ng-model="newBooking.rideTimeSelected" pattern=".{8,}" ng-pattern='/([01][012]|[0][0-9]):[0-5][0-9] ([A]|[P])M/' required title="Select a time for Ride" ng-maxlength=8 ng-minlength=8>
                        </select>
                    </div>
                </div>
                <span ng-show="!form.rideTime.$pristine && form.rideTime.$error.required" class="errorMsg">Required!</span>
                <span ng-show="form.rideTime.$error.pattern" class="errorMsg">Incorrect Format, should be HH:MM AA</span>
            </div>

            <div class="form-group">
                <label for="splNeeds" class="col-sm-2 control-label hidden-xs">Special Needs</label>
                <div class="col-sm-10 col-lg-6 ">
                    <textarea class="form-control" id="splNeeds" ng-model="newBooking.specialNeeds" rows="2" placeholder="Any special needs ?"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 ">
                    <button type="submit" class="btn btn-primary" ng-class="{ 'disabled' : (!form.$valid)}">Book Ride</button>
                    <button type="button" class="btn btn-default" ng-click="bookingReset()">Clear Entries</button>
                </div>
            </div>

        </form>

        <pre> {{newBooking}} </pre>

    </div>
    <!-- /container -->



    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/vendor/bootstrap.min.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>


    <script src="/scripts/vendor/smart-table.min.js"></script>
    <script src="/scripts/vendor/bootbox.min.js"></script>



    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/reservationCtrl.js"></script>

    <script>
        $('#rideTimePicker').timepicker({
            'useSelect': true,
            'noneOption': '--Select--',
            'timeFormat': 'h:i A',
            'minTime': '8:00am',
            'maxTime': '4:30pm',
            'step': 30,
            'disableTimeRanges': [
                ['9am', '10am'],
                ['3:30pm', '4pm']
            ]
        });


  $('.phone_us').mask('(000) 000-0000');
  $('.rideDate').mask('mm-dd-yyyy');

    </script>
</body>

</html>